<div class="wrapper">

  <div class="halfPage">
    <button (click)="showUserFromCreate()">Create new User</button>
    <button (click)="sortByAge()">sort By Age</button>
    <button (click)="sortByName()">sort By Name</button>
    <div *ngIf="addingUser">
      <app-add-user-bringg (notify)='addUserToList($event)'></app-add-user-bringg>
      <!-- <form [formGroup]="rForm" (ngSubmit)="addUserToList(rForm.value)">
        <div class="form-container">
          <div class="row columns">
            <h3>Add User Form</h3>
            <p>
              <label>User Id
                <input type="text" formControlName="id">
              </label>
            </p>
            <p>
              <label>User Age
                <input type="number" formControlName="age">
              </label>
            </p>
            <p>
              <label>User Name
                <input type="text" formControlName="name">
              </label>
            </p>
            <p>
              <label>User Email
                <input type="email" formControlName="email">
              </label>
            </p>
            <p>
              <label>Latitude
                <input type="number" formControlName="latitude">
              </label>
            </p>
            <p>
              <label>Longitude
                <input type="number" formControlName="longitude">
              </label>
            </p>
            <p>
              <input type="checkbox" name="isActive" formControlName="isActive" value="1"> Is Active
            </p>
            <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
          </div>
        </div>
      </form> -->
    </div>
    <li class="userBox" *ngFor="let u of bringgUsers ;let i = index " (click)="foucesMapOnUser(i) ">
      <img src={{u.picture}}> {{ u.name }}
      <br>
      <p>Age : {{u.age}}</p>
      <p>Email : {{u.email}}</p>
      <p>Is active : {{u.isActive}}</p>
      <p>
        <button (click)="removeUser(u)" class="removeBtn">Remove</button>
      </p>
    </li>
  </div>

  <!-- Map Side -->
  <div class="halfPage2">
    <agm-map *ngIf="userFocus" [latitude]="userFocus.latitude" [longitude]="userFocus.longitude" [fitBounds]="bounds" [zoom]="zoom"
      >
      <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
        <agm-marker *ngFor="let u of bringgUsers "  [iconUrl]="'/assets/loc_icon.png'"  [latitude]="u.latitude" [longitude]="u.longitude" [label]="u.name"></agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
</div>